# CORE ML
tensorflow[and-cuda]   # Use 'tensorflow' instead of 'tensorflow[and-cuda]' if your laptop doesn't have an NVIDIA GPU
nvidia-cuda-nvcc-cu12  # Required for XLA compiler on NVIDIA GPUs
numpy
scikit-learn
pandas

# AUDIO PROCESSING
librosa
soundfile
pydub
ffmpeg-python

# UI & TOOLS
streamlit
matplotlib
seaborn
jupyterlab
